<div data-ng-include data-src="'templates/partials/navigation-logged.html'"></div>
<div class="container" ng-controller="UserAdsController">
    <div class="col-md-2">
        <div data-ng-include data-src="'templates/partials/side-navigation.html'"></div>
        <div data-ng-include data-src="'templates/partials/status-filters.html'"></div>
    </div>
    <div class="container well" ng-controller="UserAdsController">
        <div class="col-md-10">
            <ul id="lists" ng-repeat="ad in ads ">
                <li class="row">
                    <div class="col-md-12 clearfix">
                        <h3 class="pull-left">{{ad.title}}</h3>
                        <date class="pull-right">{{ad.date | date:'d-MMM-yyyy'}}</date>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <img src="img\300px-No_image_available.svg.png" class="img-thumbnail"
                                 ng-src="{{ad.imageDataUrl}}">
                        </div>
                        <div class="col-md-6 col-sm-6 user-ad">
                            <div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {{ad.text}}
                                    </div>
                                </div>

                                <div class="well well-sm">
                                    <strong>Category: </strong> {{ad.categoryName}}
                                </div>
                                <div class="well well-sm">
                                    <strong>Town: </strong> {{ad.townName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3  col-sm-3 status-panel">
                            <strong>Status: </strong>

                            <div class="panel-body">
                                {{ad.status}}
                            </div>
                            <div ng-show="ad.status!=='Inactive' && ad.status!=='Rejected'">
                                <button type="submit" class="btn btn-primary" ng-click="deactivate(ad.id)">Deactivate
                                </button>
                            </div>
                            <div ng-show="ad.status==='Inactive'">
                                <button type="submit" class="btn btn-primary" ng-click="redirectToEdit(ad.id)">Edit
                                </button>
                                <br/>
                                <button type="submit" class="btn btn-primary" ng-click="publishAgain(ad.id)">Publish
                                    again
                                </button>
                                <br/>
                                <button type="submit" class="btn btn-primary" ng-click="redirectToDelete(ad.id)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div ng-if="ads.length==0" class="box no-data">
                No ads found.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5">
            <div data-ng-include data-src="'templates/pagination/pagination.html'"></div>
        </div>
    </div>
</div>