<div data-ng-include data-src="'templates/partials/navigation-logged.html'"></div>
<div class="container well">
    <div class="col-md-2">
        <div data-ng-include data-src="'templates/partials/side-navigation-admin.html'"></div>
    </div>
    <div class="col-md-9 col-md-offset-1" ng-controller="TownCategoryDataController">
	    <table class="table table-striped table-hover">
	    	  <tr>
			    <th>Id
			    <a href="" ng-click="predicate = '-id'; reverse=false">&#65516;</a>
			    <a href="" ng-click="predicate = 'id'; reverse=false">&#65514;</a>
			    </th>
			    <th>Town
			    <a href="" ng-click="predicate = '-name'; reverse=false">&#65516;</a>
			    <a href="" ng-click="predicate = 'name'; reverse=false">&#65514;</a>
			    </th> 
			    <th>Action</th>
	 		 </tr>
	 		 <tr ng-repeat="town in towns | orderBy:predicate:reverse">
	 		 	<td>{{town.id}}</td>
			    <td>{{town.name}}</td>
			    <td>
			    	<button class="btn btn-default" ng-click="redirectTo('editTown', town)">Edit</button>
			    	<button class="btn btn-default" ng-click="redirectTo('town', town)">Delete</button>
			    </td>
	 		 </tr>
	    </table>
	<div class="row">
	    <div class="col-md-offset-5">
	        <button class="btn btn-default col-md-offset4" ng-click="redirectTo('createTown')">Create new town</button>
	    </div>
	 </div>
	 <div data-ng-include data-src="'templates/pagination/pagination.html'"></div>
    </div>
</div>