<div data-ng-include data-src="'templates/partials/navigation-logged.html'"></div>
<div class="container well">
    <div class="col-md-2">
        <div data-ng-include data-src="'templates/partials/side-navigation-admin.html'"></div>
    </div>
    <div class="col-md-9 col-md-offset-1" ng-controller="TownCategoryDataController">
    <table class="table table-striped table-hover">
    	  <tr>
		    <th>Id
		    <a href="" ng-click="predicate = '-id'; reverse=false">&#65516;</a>
		    <a href="" ng-click="predicate = 'id'; reverse=false">&#65514;</a>
		    </th>
		    <th>Category
		    <a href="" ng-click="predicate = '-name'; reverse=false">&#65516;</a>
		    <a href="" ng-click="predicate = 'name'; reverse=false">&#65514;</a>
		    </th> 
		    <th>Action</th>
 		 </tr>
 		 <tr ng-repeat="category in categories | orderBy:predicate:reverse">
 		 	<td>{{category.id}}</td>
		    <td>{{category.name}}</td>
		    <td>
		    	<button class="btn btn-default">Edit</button>
		    	<button class="btn btn-default" ng-click="redirectToDeleteUser(user)">Delete</button>
		    </td>
 		 </tr>
    </table>
    </div>
    <div class="row">
        <div class="col-md-12 col-md-offset-4 col-sm-offset-4">
            <pagination total-items="bigTotalItems" items-per-page="numPerPage" ng-model="currentPage"
                        max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
        </div>
	 </div>
</div>