<div data-ng-include data-src="'templates/partials/navigation-logged.html'"></div>
<div class="container well">
    <div class="col-md-2">
        <div data-ng-include data-src="'templates/partials/side-navigation-admin.html'"></div>
    </div>
    <div class="col-md-10" ng-controller="UsersController">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Username
                    <a href="" ng-click="predicate = '-username'; reverse=false">&#65516;</a>
                    <a href="" ng-click="predicate = 'username'; reverse=false">&#65514;</a>
                </th>
                <th>Name
                    <a href="" ng-click="predicate = '-name'; reverse=false">&#65516;</a>
                    <a href="" ng-click="predicate = 'name'; reverse=false">&#65514;</a>
                </th>
                <th ng-click="predicate = 'email'; reverse=false">Email
                    <a href="" ng-click="predicate = '-email'; reverse=false">&#65516;</a>
                    <a href="" ng-click="predicate = 'email'; reverse=false">&#65514;</a>
                </th>
                <th ng-click="predicate = 'phone'; reverse=false">Phone
                    <a href="" ng-click="predicate = '-phone'; reverse=false">&#65516;</a>
                    <a href="" ng-click="predicate = 'phone'; reverse=false">&#65514;</a>
                </th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users | orderBy:predicate:reverse">
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
                <td><a ng-href="mailto:{{user.email}}">{{user.email}}</a></td>
                <td>{{user.phoneNumber}}</td>
                <td>
                    <button id="edit" class="btn btn-default" ng-click="redirectTo('edit', user)">Edit</button>
                    <button id="delete" class="btn btn-default" ng-click="redirectTo('delete', user)">Delete</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <td colspan="3">
                <div class="row">
                    <div class="col-md-offset-5">
                        <div data-ng-include data-src="'templates/pagination/pagination.html'"></div>
                    </div>
                </div>
            </td>
            </tfoot>
        </table>
    </div>
</div>