<div class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header">
           <a class="navbar-brand" href="#">SoftUni Ad Project - Home</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
             <li>
              <a href="#/login">Login</a>
            </li>
            <li>
               <a href="#/register">Register</a>
            </li>
          </ul>
        </div>
    </div>
</div>