<div data-ng-include data-src="'templates/partials/navigation.html'"></div>
<div class="container well">
    <div class="col-md-10 col-sm-12">
        <ul id="ul" ng-repeat="ad in users">
            <li class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="pull-left">{{ad.title}}</h3>
                    <date class="pull-right">{{ad.date | date:'d-MMM-yyyy'}}</date>
                </div>
                <div class="row">

                    <div class="col-md-3 col-sm-4">
                        <img src="img\300px-No_image_available.svg.png" class="img-thumbnail"
                             ng-src="{{ad.imageDataUrl}}">
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {{ad.text}}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-8">
                            <div class="well well-sm">
                                <strong>Name: </strong> {{ad.ownerName}}
                            </div>
                            <div class="well well-sm">
                                <strong>Email: </strong> {{ad.ownerEmail}}
                            </div>
                            <div class="well well-sm">
                                <strong>Phone: </strong> {{ad.ownerPhone}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="row">
        <div class="col-md-offset-5">
            <ul class="pagination pagination-sm" total-items="totalItems">
                  <li><a href="" ng-click="pageDecrease()">«</a></li>
                  <li ng-repeat="i in list" ><a href="" ng-click="pageChanged(i)">{{i}}</a></li>
                  <li><a href="" ng-click="pageIncrease()">»</a></li>
            </ul>
        </div>
    </div>
    </div>

    <div class="col-md-2 col-sm-12" ng-controller="TownCategoryDataController">
        <div class="list-group col-md-12 col-sm-6">
            <h3>Categories</h3>
            <a class="list-group-item" ng-model="categoryId" ng-class="{active: isActive(category)}"
               ng-click="selectCategory('',category)">All</a>
            <a class="list-group-item" ng-repeat="category in categories"
               ng-click="selectCategory(category.id,category)" ng-class="{active: isActive(category)}">{{category.name}}
            </a>
        </div>
        <div class="list-group col-md-12 col-sm-6">
            <h3>Towns</h3>
            <a href="" class="list-group-item" ng-class="{active: isActive(town)}"
               ng-click="choseTown('', town)">All</a>
            <a href="" class="list-group-item" ng-repeat="town in towns" ng-class="{active: isActive(town)}"
               ng-click="selectTown(town.id, town)">{{town.name}}
            </a>
        </div>
    </div>
</div>
