<div data-ng-include data-src="'templates/partials/navigation.html'"></div>
<div class="container well">
    <div class="col-md-10 col-sm-12" ng-controller="AdsController">
        <div data-ng-include data-src="'templates/guest-views/ad-view.html'"></div>
        <div class="row">
            <div class="col-md-offset-5">
                <div data-ng-include data-src="'templates/pagination/pagination.html'"></div>
            </div>
        </div>
    </div>
    <div data-ng-include data-src="'templates/guest-views/right-filters.html'"></div>
</div>
