<div data-ng-include data-src="'templates/partials/navigation.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="well bs-component">
                <form class="form-horizontal row" name="registerForm" novalidation>
                    <fieldset class="col-md-56 col-sm-6 registration-fieldset">
                        <legend>User Registration</legend>
                        <div class="form-group">
                            <label for="username" class="col-md-2 control-label">Username*</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="username" placeholder="Username"
                                       name="username" ng-model="credentials.username" required>
                                <span ng-show="registerForm.username.$dirty && registerForm.username.$error.required"
                                      class="text-danger">Username is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-2 control-label">Password*</label>

                            <div class="col-md-10">
                                <input type="password" class="form-control" id="inputPassword" name="inputPassword"
                                       placeholder="Password" ng-model="credentials.password" ng-minlength="2"
                                       ng-maxlength="100" required>
                                <span ng-show="registerForm.inputPassword.$dirty 
                                && (registerForm.inputPassword.$error.maxlength 
                                || registerForm.inputPassword.$error.mixlength
                                || registerForm.inputPassword.$error.required)"
                                class="text-danger">Password is required, it must be between 2 and 100 characters!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-md-2 control-label">Name*</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                                       ng-model="credentials.name" required>
                                <span ng-show="registerForm.name.$dirty && registerForm.name.$error.required" 
                                class="text-danger">Name is required!
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-md-2 control-label">Phone</label>

                            <div class="col-md-10">
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone"
                                       ng-model="credentials.phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-2">
                                <button type="submit" ng-disabled="registerForm.$invalid" class="btn btn-primary" ng-click="register(credentials)">Register</button>
                                <button class="btn btn-default" ng-click="reset()">Cancel</button>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="col-md-6 col-sm-6 registration-fieldset form-fieldset">
                        <div class="form-group">
                            <label for="passwordConf" class="col-md-3 control-label">Confirm Password*</label>

                            <div class="col-md-9">
                                <input type="password" name="confPass" class="form-control" id="passwordConf"
                                       ng-model="credentials.confirmPassword" placeholder="Password" minlength='2'
                                       ng-maxlength='100' required>
                                <span ng-show="registerForm.confPass.$dirty
                                    && (registerForm.confPass.$error.minlength
                                    || registerForm.confPass.$error.required
                                    || registerForm.confPass.$error.maxlength)"
                                        class="text-danger">Confirm password, it must be between 2 and 100 characters!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email*</label>

                            <div class="col-md-9">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                       ng-model="credentials.email" required>
                                <span ng-show="registerForm.email.$dirty && (registerForm.email.$error.required 
                                || registerForm.email.$invalid)" class="text-danger">Please, insert a valid email!</span>
                            </div>
                        </div>
                        <div class="form-group" ng-controller="TownCategoryDataController">
                            <label for="town" class="col-md-3 control-label">Town</label>

                            <div class="col-md-9">
                                <select class="form-control" id="town" ng-model="credentials.townId">
                                    <option value="">-</option>
                                    <option ng-repeat="town in towns" value="{{town.id}}">
                                        {{town.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <a class="text-info" href="#/login">Login</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>