
<div class="container well">
	<div class="col-lg-10">
			<ul id="ul" ng-repeat="ad in ads.ads |  filter:filterByCategory |  filter:filterByTown">
				<li class="row">
				<div class="col-lg-12">
					<h3 class="pull-left">{{ad.title}}</h3>
					<date  class="pull-right">{{ad.date | date:'dd-MMM-yyyy'}}</date>
				</div>
				<div class="row">

					<div class="col-lg-3">
						<img src="img\300px-No_image_available.svg.png" class="img-thumbnail" ng-src="{{ad.imageDataUrl}}">
					</div>
					<div class="col-lg-9">
						 <div class="panel panel-default">
						  <div class="panel-body">
						    {{ad.text}}
						  </div>
						  </div>
						  <div class="well well-sm">
						   <strong>Name: </strong> {{ad.ownerName}}
						  </div>



						  <div class="well well-sm">
						   <strong>Email: </strong> {{ad.ownerEmail}}
						  </div>
	
						  
						  <div class="well well-sm">
						   <strong>Phone: </strong> {{ad.ownerPhone}}
						</div>
				  </div>
				</li>
			</ul>
    </div>

   <div class="col-lg-2 ">
   <div class="list-group" ng-model="filterByCategory">
   <h3>Categories</h3>
		<a href="#" class="list-group-item active" value="">All</a>
		<a href="#" class="list-group-item" ng-repeat="category in categories" value="{{category.id}}">{{category.name}}
		</a>
	</div>
   <div class="list-group" ng-model="filterByTown">
     <h3>Towns</h3>
		<a href="#" class="list-group-item active" value="">All</a>
		<a href="#" class="list-group-item" ng-repeat="town in towns" value="{{town.id}}">{{town.name}}
		</a>
  </div>
</div>


<div class="row">
	<div class="col-lg-12 col-md-offset-5">
		<div class="bs-component">
              <ul class="pagination">
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
             </ul>
		</div>
	</div>
</div>