<div class="row">
         <div class="alert alert-dismissable alert-danger" ng-show='error(ev)'>
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Invalid login. Change a few things up and try submitting again.
        </div> 
        <div class="alert alert-dismissable alert-success" ng-show='success(ev)'>
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Well done!</strong> You have successfully loged in. You will be redirected to the home page.
        </div>
          <div class="col-lg-6 col-sm-12">
            <div class="well bs-component">
              <form class="form-horizontal" name="loginForm" novalidate>
                <fieldset>
                  <legend>Login</legend>
                  <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                       ng-model="credentials.username" required>
                     <span ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="text-danger">Username is required</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" id="password" name="password" ng-minlength=2 ng-maxlength=100 placeholder="Password"
                       ng-model="credentials.password" required>
                        <span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="text-danger">Password is required</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary" ng-click="login(credentials)">Login</button>
                      <button class="btn btn-default" ng-click="reset()">Cancel</button>
                      <a class="text-info" href="#/register">Register</a>
                    </div>
                  </div>
                </fieldset>
              </form>
          </div>
        </div>
     </div>