<div data-ng-include data-src="'templates/partials/navigation-logged.html'"></div>
<div class="container" ng-controller="UserAdsController">
    <div class="col-md-2">
        <div data-ng-include data-src="'templates/partials/side-navigation.html'"></div>
    </div>
    <div class="col-md-9 col-sm-12 col-md-offset-1">
        <div class="well bs-component">
            <form class="form-horizontal" name="newAdForm" ng-controller="PublishAdController" novalidate>
                <fieldset>
                    <legend>Publish new ad</legend>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group ">
                                <label for="titleNewAd" class="col-md-2 control-label">Title</label>

                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="titleNewAd" name="titleNewAd"
                                           placeholder="Title"
                                           ng-model="ad.title" required>
                                    <span ng-show="newAdForm.titleNewAd.$dirty && newAdForm.titleNewAd.$error.required"
                                          class="text-danger">Title is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textNewAd" class="col-md-2 control-label">Text</label>

                                <div class="col-md-10">
                                    <textarea type="text" class="form-control" id="textNewAd" name="textNewAd"
                                              ng-minlength=2
                                              ng-maxlength=100
                                              ng-model="ad.text" required> Your ad content ... </textarea>
                                     <span ng-show="newAdForm.textNewAd.$dirty && newAdForm.textNewAd.$error.required"
                                           class="text-danger">Ad content is required</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="image" class="col-md-2 control-label">Image</label>

                                <div class="col-md-7">
                                    <input type="file" ng-pattern='^data:image/.*$' class="form-control" id="image"
                                           name="image"
                                           ng-model="ad.imageDataUrl">
                                   <span ng-show="newAdForm.image.$dirty && newAdForm.image.$error.pattern"
                                         class="text-danger">Image content is invalid</span>
                                </div>
                                <button class=" col-md-2 btn btn-default">Browse</button>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <img ng-bind="ad.imageDataUrl">
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group" ng-controller="AdsController">
                                <label class="col-md-2 control-label">Category:</label>
                                <select class="form-control" id="ad-category" ng-model="ad.categoryId">
                                    <option value="">-</option>
                                    <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group" ng-controller="AdsController">
                                <label class="col-md-2 control-label">Towns:</label>
                                <select class="form-control" id="ad-town" ng-model="ad.townId">
                                    <option value="">-</option>
                                    <option ng-repeat="town in towns" value="{{town.id}}">
                                        {{town.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-5">
                                <button type="submit" class="btn btn-primary" ng-click="adNewAd(ad)">Publish</button>
                                <button class="btn btn-default" ng-click="reset()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
