<div class="form-section">
	<h4 >User Registration</h4>
	<form class="row">
		<fieldset class="col-md-6">
			<label for="username">Username:</label>
			<input id="username" type="text" required/>

			<label for="password">Password:</label>
			<input id="password" type="password" required/>

			<label for="name">Name:</label>
			<input id="name" type="text" required/>

			<label for="Phone">Phone:</label>
			<input id="Phone" type="tel" required/>

			<button type="Submit">Register</button>
		</fieldset>
		<fieldset class="col-md-6 fieldset-confirm">
			<label for="passwordConf">Confirm password:</label>
			<input id="passwordConf" type="password" required/>

			<label for="email">Email:</label>
			<input id="email" type="email" required/>

			<label for="town">Town:</label>
			<input id="town" type="text" required/>

			<a href="#/login" class="links">Login</a>
		</fieldset>
	</form>
</div>